@font-face{ 
	font-family: 'arcaderegular';
	src: url('arcade-webfont.eot');
	src: url('arcade-webfont.eot?#iefix') format('embedded-opentype'),
	     url('arcade-webfont.woff') format('woff'),
	     url('arcade-webfont.ttf') format('truetype'),
	     url('arcade-webfont.svg#webfont') format('svg');
}

body {
  background-color: black;
}

.navbar {
  display: flex;
  background-color: black;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  color: yellowgreen;
  border: 5px yellowgreen solid;
  box-shadow:5px 5px 5px yellowgreen;
  font-family: 'arcaderegular';
}

.home {
  color: yellowgreen;
  font-size: 20px;
  font-weight: bold;
  font-family: 'arcaderegular';
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  
}

.navbar-links li {
  list-style: none;
  margin: 0 1rem;
  
}

.navbar-links a {
  color: yellowgreen;
  text-decoration: none;
  
}

.navbar-links a:hover {
  color: white;
}

.toggle-button {
  position:  absolute;
  top: 0.75rem;
  right: 1rem;
  display: None;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  padding-top: .5rem;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: greenyellow;
  border-radius: 10px;
}

.card {
  text-align: center;
  background-image: url(https://i.gifer.com/8Iva.gif);
  

  
}

.img-header {
  width: 10%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.fullname {
  color: greenyellow;
  font-weight: bold;
  font-size: 25px;
  margin-top: 100px;
  font-family: 'arcaderegular';
}

.title {
  color: greenyellow;
  display: block;
  font-size: 15px;
  font-weight: bold;
  font-family: 'arcaderegular';
  padding-bottom: .5rem;
}

.extrabox {
  width: 100%;
  background: black;
  box-sizing: border-box;
  text-align: center;
  border: 3px solid yellowgreen;
  padding-left: .2rem;
  padding-right: .2rem;
  
}

.about-me {
  color: greenyellow;
  font-family: Times;
  font-size: 18px;
  text-align: center;
  font-family: 'arcaderegular';
  padding-bottom: 1rem;
}
.links {
  color: green;
  font-family: 'arcaderegular';
  padding-bottom: 1rem;
}

.news-me {
  margin-top: 3rem;
  color: greenyellow;
  font-family: Times;
  font-size: 25px;
  text-align: center;
  position: relative;
  font-family: 'arcaderegular';
}

#content {
  height: 100%;
  margin-bottom: 50px;
  
}

.marquee {
  font-family: Times;
  font-size: 15px;
  color: greenyellow;
  font-family: 'arcaderegular';
}

.extras-hr {
  width: 90%;
}

.extras-gif {
  width: 1.5rem;
  height: 1rem;
}



@media (max-width: 700px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex; 
  }
}

@media (min-width: 500px) {
  .img-header {
    width: 25%;
  }
}

@media (min-width: 700px) {
  .img-header {
    width: 20%;
  }
}

@media (min-width: 800px) {
  .img-header {
    width: 18%;
  }
}

@media (min-width: 900px) {
  .img-header {
    width: 16%;
  }
}

@media (min-width: 1200px) {
  .img-header {
    width: 10%;
  }
}

@media (max-width: 500px) {
  .img-header {
    display: none;
  }
  .name-section {
    margin-top: 3rem;
    padding-top: 2rem;
  }
}